.mainPageHeader {
    background-color: white;
    padding-top: 20px;
}

.mainPageCompany {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: #0EC261;
    margin: 0;
}

.cityContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.locationIcon {
    font-size: 18px;
    color: #999999;
    padding-top: 5px;
}

.cityText {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
    padding-left: 5px;
    padding-top: 5px;
    margin: 0;
}