.locationGroup {
    display: inline-flex;
    flex-direction: column;
}

.locationItem {
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.autocomplete {
    width: 300px;
}

.map {
    width: 90%;
    height: 60vh;
}

.mobileButton {
    margin-top: 10px;
    width: 95%;
}

@media (max-width: 768px) {
    .map {
        height: 50vh;
    }
    .autocomplete {
        width: 200px;
    }
}

@media (max-width: 425px) {
    .map {
        width: 95%;
        height: 40vh;
    }
    .autocomplete {
        width: 185px;
    }
}